# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

tokens
src/main/resources/credentials.json

out/production/resources/credentials.json
.idea/artifacts/trips_traps_trull_main_jar2.xml
.idea/artifacts/trips_traps_trull_jar.xml
src/main/database/database.txt